<html>
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class=page>
      <h1>A short {{ getTopic }} quizz</h1>
      <div class=metanav>
      <br/> <br/>
    
      <h3>
    Thank you <b>{{ getUser }}</b> for participating!
    </h3>
  </div>    
    
    <div class=""form-control>
    <form action="/endquizz" method="POST">
      <!-- <button type="button" class="close" aria-label="Close" disabled>
        <span aria-hidden="true">×</span>
      </button> -->
      <div class="form-group">
        <input type="submit" value="End Quizz"  class="btn btn-primary pull-right" />
      </div>
  </form>
    </div>
    
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>