<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-title">
        <h1>{{ getTopic }} quizz</h1>
        <p class="lead">{{ getUser }}, answer to question #{{ getCurrentQuestionIndex }} / {{ getNumberOfQuestion }}</p>
        <hr />
      </div>

      <div>
        <h4> {{ .Question }} </h4>
      </div>

      <form action="/quizz" method="POST">
        <!-- <div class="form-group">
          <textarea class="form-control" name="body" cols="30" rows="10"></textarea>
        </div> -->
        {{ $randomChoice := getRandomResponse }}
        {{ range $index,$element := .Options }}
        <div class="form-group">
          <input type='radio' name='answer' id="r{{$index}}" {{ if eq $index $randomChoice}}checked{{end}} value="{{ .Id }}" />
          <label class="label label-default" for="l$index">{{ .Label }}</label>        
        </div>
        {{ end }}


        <div class="form-group">
          <input type="submit" value="Next"  class="btn btn-primary pull-right" />
        </div>
      </form>

    </div>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>